* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;

}

#horloge {
    width: 800px;
    height: 800px;
    border: 2px solid black;
    border-radius: 400px;
    position: relative;
    left: 24%;
    top: 20px;
    background-image: url("https://lh6.googleusercontent.com/proxy/S188zRqWOVeCmAW6clKkIW8m_aQz3vLGgMOeo8wLCU-cBM-S6_0KupXOehjy38dQx71--Rocsg0PGdA7uFgZKvJXao_9y3KUKI_CT8CViKSprfXWdsxRPybyqTk7pv4S90EPcIf3=s0-d");
    background-size: 110.3%;
    background-position: -42px -43px;
}

#second {
    width: 0px;
    height: 380px;
    border: 1px solid red;
    background-color: red;
    position: relative;
    left: 398px;
    top: 19px;
}

#minute {
    width: 0px;
    height: 380px;
    border: 1px solid green;
    background-color: green;
    position: relative;
    left: 398px;
    bottom: 361px;
}

#heure {
    width: 0px;
    height: 380px;
    border: 1px solid blue;
    background-color: blue;
    position: relative;
    left: 398px;
    bottom: 741px;
}